/* Global Styles */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #f2f2f2;
}
.error {
  color: red;
  font-size: 0.85rem;
}


/* Character Selector Container */
.character-selector {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

/* Character Info */
.character-info {
  text-align: center;
  margin-bottom: 1.5rem;
}

.character-info h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5rem;
}


/* Character Display */
.character-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.character-display-chevron {
  font-size: 1.5rem;
  color: #c0c0c0;
  background-color: #2d2d2d;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.3s;
}

.character-display-chevron:hover {
  color: #f2f2f2;
}

.character-display img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  margin: 0 1.5rem;
}

/* Menu Options */
.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menu-options button {
  /* background-color: #2d2d2d; */
  background: none;
  color: #f2f2f2;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 300px;
}

.menu-options button.active {
  background-color: #4d4d4d;
}

.menu-options button:hover {
  background-color: #3d3d3d;
}

.character-info-card {
  background-color: #2d2d2d;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

.character-info-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.character-info-icon {
  font-size: 2rem;
  color: #7ab8ff;
}

.character-info-name {
  font-size: 2rem;
  margin: 0;
}

.character-info-details {
  background-color: #2d2d2d;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.character-info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: #b3b3b3;
}

.character-info-detail .character-info-icon {
  font-size: 1.2rem;
}

.create-new-character {
  position: absolute;
  left: 0;
  top: 20;
  background-color: #2d2d2d;
  padding: 2rem;
  box-sizing: border-box;
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.create-new-character h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 4px;
  background-color: #3d3d3d;
  color: #f2f2f2;
}

.create-button {
  background-color: #445fb8;
  color: #f2f2f2;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.create-button:hover {
  background-color: #5d5d5d;
}




.create-new-character .cancel{
  text-align: right;

}

.create-new-character .cancel.icon{
  font-size: 24px;
}


.photo-mode-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  /* align-items: center; */
  z-index: 999;
}

.photo-mode-boxes {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photo-box {
  width: 4rem;
  height: 4rem;
  background: #6e6e6e;
  cursor: pointer;
}

.photo-box.active{
  border: 2px solid rgb(159, 234, 255);
 }